.skills__percentage--p1{ width: 70%; }

.skills__percentage--p2{ width: 80%; }

.skills__percentage--p3{ width: 80%; }

.skills__percentage--p4{ width: 90%; }

.skills__percentage--p5{ width: 80%; }

.skills__percentage--p6{ width: 20%; }

.skills__percentage--p7{ width: 30%; }

.skills__percentage--p8{ width: 40%; }

.skills__percentage--p9{ width: 50%; }

.skills__percentage--p10{ width: 40%; }